<%- include('partials/header') -%>

<div id="home" class="intro route bg-image" style="background-image: url(assets/img/hotel_1.jpg)">

  <div class="overlay-itro"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <h1 class="intro-title mb-2">Welcome to GazieHotels and Suites, a place for maximum relaxation </h1>


      </div>
    </div>
  </div>
</div>
</div>







<!-- </main> -->


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container-fluid" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-8 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>Bettter Experience With Gazie Suites</h1>
        <h2>At Gazie Suites, our primary objectives is to provide quality
          service with a competitive edge. We have built our hotel to be lean and dynamic in
          dealing with our guests’ requirements. We pride ourselves in offering high standard
          of services and facilities.</h2>
        <h2>It is our hope that you have a wonderful stay in Aba and we thank you for choosing Gazie Suites.</h2>
        <div><a href="/book" class="btn-get-started scrollto">Get Started</a></div>
      </div>
      <div class="col-xl-4 col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
        <img src="assets/img/hotel_1.jpg" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->


<main id="b">
  <section class="gallery-details mb-4 pb-3 " id="bg">
    <h1 class="text-center">Our Rooms</h1>
    <hr class="bg-warning mb-2">
    <div class="containe">

      <div class="gallery-details-container">

        <div class="owl-carousel gallery-details-carousel">
          <div>
            <img src="assets/img/room_7.jpg" class="img-fluid" alt="">
            <div class="gallery-info" id="bd">
              <h3>Room information</h3>
              <ul>
                <li><strong>Category</strong>: Executive Room</li>
                <li class="text-success"><strong>Status</strong>: Available</li>
                <a href="/book" class="btn btn-secondary mt-2 mb-4 pb-2">Book Now</a>
              </ul>
            </div>
          </div>
          <div>
            <img src="assets/img/room_10.jpg" class="img-fluid" alt="">
            <div class="gallery-info" id="bd">
              <h3>Room information</h3>
              <ul>
                <li><strong>Category</strong>: Deluxe</li>
                <li class="text-success"><strong>Status</strong>: Available</li>
                <a href="/book" class="btn btn-secondary mt-2 mb-4 pb-2">Book Now</a>
              </ul>
            </div>
          </div>
          <div>
            <img src="assets/img/room_9.jpg" class="img-fluid" alt="">
            <div class="gallery-info" id="bd">
              <h3>Room information</h3>
              <ul>
                <li><strong>Category</strong>: Super Deluxe</li>
                <li class="text-success"><strong>Status</strong>: Available</li>
                <a href="/book" class="btn btn-secondary mt-2 mb-4 pb-2">Book Now</a>
              </ul>
            </div>
          </div>

          <div>
            <img src="assets/img/room_4.jpg" class="img-fluid" alt="">
            <div class="gallery-info" id="bd">
              <h3>Room information</h3>
              <ul>
                <li><strong>Category</strong>: VIP</li>
                <li class="text-success"><strong>Status</strong>: Available</li>
                <a href="/book" class="btn btn-secondary mt-2 mb-4 pb-2">Book Now</a>
              </ul>
            </div>
          </div>
          <div>
            <img src="assets/img/room_2.jpg" class="img-fluid" alt="">
            <div class="gallery-info" id="bd">
              <h3>Room information</h3>
              <ul>
                <li><strong>Category</strong>: Standard</li>
                <li class="text-success"><strong>Status</strong>: Available</li>
                <a href="/book" class="btn btn-secondary mt-2 mb-4 pb-2">Book Now</a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FACILITIES SECTION -->
  <section class="facilities-section pb-5 pt-5" id="bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Our Facilities
            </h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="facilities">
            <div class="text">
              <strong class="">GAZIE SUITES</strong> is a cozy hotel providing an intimate and
              relaxed atmosphere with facilities and amenities of international standards.
              <br>
              We have the following facilities below to keep you comfortable 24/7
              <ul>
                <li>Complimentary WIFI Internet Access</li>
                <li>Laundry and Dry Cleaning Services</li>
                <li>Bush Bar and Grill</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="listing">
            <ul>
              <li>Room Service and 24hr Reception</li>
              <li>Fully air Conditioned Rooms</li>
              <li>Security Doors</li>
              <li>Uninterrupted Power Supply</li>
              <li>Rosy Restaurant for fine dining</li>
              <li>24hrs Kitchen</li>
              <li>Classy Bar</li>

            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <ul>

            <li>Car wash</li>
            <li>Constant Water Supply</li>
            <li>Flat screen TV / Satellite Channel</li>
            <li>Doctor on call</li>
            <li>CCTV Cameras</li>
            <li>Trained security officers</li>
            <li>Airport Shuttle Services</li>
          </ul>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>

  <!-- ======= Gallery Section ======= -->
  <section id="work" class="gallery-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Our Gallery
            </h3>
            <p class="subtitle-a px-4 title-ss">
              Below are some of our gallery samples. Clicking the see more takes you to the gallery page where you can view
              the images in our gallery.
            </p>
            <div class="line-m"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="work-box">
            <a href="assets/img/hotel_2.jpg" data-gall="galleryGallery" class="venobox">
              <div class="work-img">
                <img src="assets/img/room_7.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">VIP Room</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="work-box">
            <a href="assets/img/holiday.jpg" data-gall="galleryGallery" class="venobox">
              <div class="work-img">
                <img src="assets/img/hotel_1.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Front View</h2>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="work-box">
            <a href="assets/img/hall.jpg" data-gall="Gallery" class="venobox">
              <div class="work-img">
                <img src="assets/img/restaurant_1.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Event Hall</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="work-box">
            <a href="https://res.cloudinary.com/minalabels/image/upload/v1601637350/folio/street_czqh3p.jpg"
              data-gall="galleryGallery" class="venobox">
              <div class="work-img">
                <img src="assets/img/hotel_4.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Entrance</h2>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="view">
        <a href="/gallery" id="LoadMore" class="btn-read_more scrollto mb-5">See More</a>
      </div>
      <br>

  </section>




  <!-- ======= Contact Section ======= -->
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route"
    style="background-image: url(assets/img/breakfast.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <h1 class="section-title text-center pt-1">Our Contact</h1>
              <hr>
              <div class="row">

                <div class="col-lg-4 col-md-4">
                  <div class="contact-abou">
                    <h3>
                      <strong>
                        <small class="px-4">Gazie Hotels and Suites</small>
                      </strong>
                    </h3>
                    <p class="text-center px-3 ">For further information, enquiries and or assistance, contact us
                      through the
                      following links below. You can as well reach us via email and phone through the email and number
                      below
                    </p>
                    <div class="socials ml-5 ">
                      <ul class="mb-3">
                        <li><a href="" target="_blank"><span class="ico-circle mb-3"><i
                                class="ion-social-facebook"></i></span></a></li>
                        <li><a href="https://bit.ly/2Z6Xyxw" target="_blank"><span class="ico-circle mb-3"><i
                                class="fa fa-instagram"></i></span></a></li>
                        <li><a href="https://twitter.com/@ogbonnaubadire" target="_blank"><span
                              class="ico-circle mb-3"><i class="ion-social-twitter"></i></span></a></li>
                        <li><a href="https://bit.ly/2Z6Xyxw" target="_blank"><span class="ico-circle mb-3"><i
                                class="fa fa-linkedin"></i></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4">
                  <div class="inf">
                    <div class="text-center dar px-4">
                      <i class="ion-ios-location-outline"></i>
                      <p> 7 Pound Road Aba,
                        <br>Abia state, Nigeria</p>
                    </div>

                    <div class="text-center dar">
                      <i class="ion-ios-email-outline"></i>
                      <p><i>desmondubadire@gmail.com</i></p>
                    </div>

                    <div class="text-center dar px-4">
                      <i class="ion-ios-telephone-outline"></i>
                      <p>08107583440</p>
                    </div>

                  </div>
                </div>

                <div class="col-lg-5 col-md-8">
                  <div class="form">
                    <div id="sendmessage" class="text-center">Message Us</div>
                    <br>
                    <%- include('partials/message') -%>
                    <div id="errormessage"></div>
                    <form action="/send" method="POST" role="form" class="emailForm">
                      <div class="form-row">
                        <div class="form-group col-lg-6">
                          <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                            data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                          <div class="validation"></div>
                        </div>
                        <div class="form-group col-lg-6">
                          <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                            data-rule="email" data-msg="Please enter a valid email" />
                          <div class="validation"></div>
                        </div>
                        <div class="form-group col-lg-6">
                          <input type="number" class="form-control" name="phone" id="phone"
                            placeholder="Your Phone Number" data-rule="minlen:11"
                            data-msg="Please enter a valid number" />
                          <div class="validation"></div>
                        </div>
                        <div class="form-group col-lg-6">
                          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                            data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                          <div class="validation"></div>
                        </div>
                        <div class="form-group col-lg-12">
                          <textarea class="form-control" name="message" rows="5" data-rule="required"
                            data-msg="Please write something for us" placeholder="Message"></textarea>
                          <div class="validation"></div>
                        </div>
                        <div class="col-md-12 text-center mb-3">
                          <div class="loading">Loading</div>
                          <div class="error-message"></div>
                          <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center">
                          <button type="submit" class="button button-a button-big button-rouded"
                            title="Send Message">Send Message</button>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->


  <%- include('partials/footer') -%>