<%- include('../partials/header') -%>

<div id="home" class="intro_1 route bg-image" style="background-image: url(assets/img/bg.jpg)">

  <div class="overlay-itro"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="intro-title book">Book Hall</h3>
              <p class="subtitle-b px-4 title-ss">
                Please enter your information to complete reservation for this hall.
              </p>
              <div class="line-m"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-9">
            <%- include('../partials/message')-%>
            <form action="/bookhall" method="post">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required class="input_form"
                  placeholder="Enter Your Name*" value="">
              </div>

            
              <div class="form-group">
                <label for="phone" >Phone</label>
                <input type="tel" name="phone" id="phone" required class="input_form"
                  placeholder="Enter Your Phone Number*" value="">
              </div>

              <div class="form-group">
                <label for="category" >Choose Hall</label>
                  <select name="category" class="form-group input_form" required>
                    <option value="Gazie Hall">Gazie Hall</option>
                    <option value="Princess Hall">Princess Hall</option>
                    <option value="Conference Hall">Conference Hall</option>
                    <option value="Meeting Room">Meeting Room</option>
                  </select>
              </div>
              <div class="form-group">
                <label for="checkIn" >Check In</label>
                <input type="date" name="checkIn"  required class="input_form"
                  placeholder="Check In Date" value="">
              </div>
              
                <button class="submit btn btn-block  align-self-center" type="submit"
                  data-loading-text="Please wait...">Book Now</button>
            </form>
          </div>

          <div class="col-md-3">
            <div class="card " style="width: 20rem;">
              <img src="assets/img/hall.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class=" title"><i class=""></i> Princess Hall</h5>
                  <h6 class="card-title text-muted"><i class="fa fa-map-marker"></i> Abia</h6>
                  <h6 class="card-title text-danger">&#8358; <span> 250,000 </span></h6>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>

<%- include('../partials/footer') -%>